.cube_container {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  margin-bottom:50px;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ( -100px );
  -webkit-animation:cubeRotate 24s infinite;
  animation:cubeRotate 24s infinite;
}

#cube figure {
  width: 180px;
  height: 180px;
  display: block;
  position: absolute;
  border: 2px solid black;
  background-size: 180px 180px;
  background-repeat: no-repeat;
}


#cube .front  { transform: rotateY(   0deg ) translateZ( 100px ); background-image:url('../../images/GeorgeMouri.png');}
#cube .back   { transform: rotateX( 180deg ) translateZ( 100px ); background-image:url('../../images/secondMouro.jpg');}
#cube .right  { transform: rotateY(  90deg ) translateZ( 100px ); background-image:url('../../images/what.png');}
#cube .left   { transform: rotateY( -90deg ) translateZ( 100px ); background-image:url('../../images/tech_at_bricks_logo.png');}
#cube .top    { transform: rotateX(  90deg ) translateZ( 100px ); background-image:url('../../images/frink.png');}
#cube .bottom { transform: rotateX( -90deg ) translateZ( 100px ); background-image:url('../../images/linux.jpg');}


@-webkit-keyframes cubeRotate {
    0% {-webkit-transform: translateZ( -100px ) rotateY(   90deg );}
    20% {-webkit-transform:   translateZ( -100px ) rotateX( -180deg );}
   	40% {-webkit-transform:  translateZ( -100px ) rotateY(  -90deg );}
    60% {-webkit-transform:  translateZ( -100px ) rotateX(  -90deg );}
    80% {-webkit-transform:  translateZ( -100px ) rotateX(   90deg );}
    100% {-webkit-transform:  translateZ( -100px ) rotateY(    0deg );}
}

@keyframes cubeRotate {
    0% {transform: translateZ( -100px ) rotateY(   90deg );}
    20% {transform: translateZ( -100px ) rotateX( -180deg );}
   	40% {transform: translateZ( -100px ) rotateY(  -90deg );}
    60% {transform: translateZ( -100px ) rotateX(  -90deg );}
    80% {transform: translateZ( -100px ) rotateX(   90deg );}
    100% {transform: translateZ( -100px ) rotateY(    0deg );}
}
