<div class="sidebar">
   <h3 style="color:white !important">&ldquo;There is nothing you cannot do..
      you just can't prove it yet&rdquo;</h3>
  <div class="container sidebar-sticky">
    
    <div class="sidebar-about">
  
      <section class="cube_container">
        <div id="cube">
          <figure class="front"></figure>
          <figure class="back "></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="http://spiritinlife.github.io/atom.xml">Feed</a>

    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
